* {
  box-sizing: border-box;
}

* {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header {
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.list-modal {
  display: block;

  /* font-weight: 400; */
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header .container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
/* .header-logo {
  margin-right: 76px;
} */
.nav-list {
  display: flex;
  gap: 40px;
  padding-right: 332px;
}

/* .header-link {
  display: flex;
  gap: 40px;
} */

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
  align-items: center;
  display: inline-block;
  margin-bottom: 16px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
  align-items: center;
  display: inline-block;
}

.spann {
  color: #f4f4fd;
}

/* .stud {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0 24px 0;
  position: relative;
  transition-property: translateY();
  transition-duration: 250ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .activa-link {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .activa-link::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
} */

/* .title-button {
  display: flex;
  flex-direction: column;
  gap: 48px;
} */

/* .stud:hover,
.stud:focus {
  color: #404bbf;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .antena,
.clock,
.diagram,
.astronaut {
  display: flex;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px; */


.adres {
  font-style: normal;
  padding-left: auto;
}

/* .link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.social-media-team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  /* width: 232px;
  height: 40px; */
}

/* .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  margin-right: 0; */
  /* width: 232px;
  height: 40px; */
}

/* .icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
} */

.border-foot:hover,
.border-foot:focus {
  background-color: #31d0aa;
}

/* .border:hover,
.border:focus {
  background-color: #404bbf;
} */

/* .border {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdd2;
  background-color: #4d5ae5;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition-property: translateY();
  transition-duration: 250ms;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .border-foot {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #2e2f42;
  background-color: #4d5ae5;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition-property: translateY();
  transition-duration: 250ms;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.inst {
  width: 40px;
  height: 40px;
}

.title-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding-bottom: 60px;
  padding: 188px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  justify-content: center;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* .page-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  margin: 0 auto;
} */

.section-qualities {
  padding: 120px 0;
}

/* .boton {
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding-bottom: 16px;
  padding-top: 16px;
  transition-property: translateY();
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .boton:hover,
.boton:focus {
  background-color: #404bbf;
} */

.list-team {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

/* .list-soc-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
} */

.social-media-footer {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}

.list-teams {
  background-color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.list-worker {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.imgg {
  background-color: #ffffff;
}

.par-fut {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.pic {
  background-color: #ffffff;
  padding-bottom: 0px;
}

/* .container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
} */

.pic-list {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}

.div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
  background-color: #ffffff;
}

/* .div-app {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
} */

.div-app:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-app {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.menu-list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.qualities {
  width: calc((100% - 72px) / 4);
}



.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer-logo {
  
  margin-right: 120px;
}

/* .overlay-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: center;
  padding: 40px 32px;
} */

/* .overlay-img {
  position: relative;
  overflow: hidden;
} */

/* .overlay-img:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

/* .li-cards:hover .overlay-text {
  transform: translateY(0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

/* .li-cards {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.icons-div r {
  display: flex;
}

.team-container {
  display: flex;

  flex-direction: column;
}

.container-team {
  display: flex;
  gap: 24px;
}

/* .form-footer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
} */

/* .footer-form-input-email::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
} */

/* .form-button-icon {
  display: flex;
  gap: 16px;
} */

/* .icon-frame {
  fill: #ffffff;
  position: absolute;
  right: 24px;
  top: 8px;
  margin-left: 16px;
} */

/* .form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border: none;
  border-radius: 4px;
  padding: 8px 24px 8px 0;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #ffffff;
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
} */

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

/* .footer-form-input-email {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  outline: none;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
} */

/* .footer-form-input-email:hover,
.footer-form-input-email:focus {
  border: 1px solid #404bbf;
} */

/* .icon-close {
  color: #2e2f42;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-close {
  position: absolute;
  right: 24px;
  top: 24px;
  border-radius: 50%;
  fill: var(--cornflower);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  outline: none;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.text-modal {
  font-weight: 500;
  font-size: 16px;
  /* padding-top: 48px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-family: var(--font-family);
  margin-bottom: 16px;
}

.input-wrapper {
  margin-bottom: 8px;
  position: relative;
}

.form-username {
  margin-bottom: 8px;
}

.input-wrapper:has(input:hover) .svg-icon,
.input-wrapper:has(input:focus) .svg-icon {
  fill: #4d5ae5;
}

.input-wrapper:has(input:hover) .input-list,
.input-wrapper:has(input:focus) .input-list {
  border: 1px solid #4d5ae5;
}

.input-wrapper svg {
  position: absolute;
  left: 16px;
  /* top: 11px; */
} */

/* .custom-checkbox .svg-icon {
  fill: #f4f4fd;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
} */
.checkbox-icon {
  /* fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  fill: #f4f4fd;
}
.svg-icon {
  position: absolute;
  /* left: 16px; */
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-email {
  display: flex;
  gap: 24px;
}

.form-email {
  gap: 24px;
}

.checkbox-label {
  
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  color: #8e8f99;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-list {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-list:hover {
  border-color: #4d5ae5;
}

.input-list:focus .svg-icon {
  fill: #4d5ae5;
}

.div-textarea {
  margin-bottom: 16px;
}

.textarea-list::placeholder {
  padding-left: 16px;
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.2);
  line-height: 1.16667;
  letter-spacing: 0.04em;
}

.textarea-list {
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-list:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-container label {
  align-items: center;
  gap: 8px;
}

.checkbox-container input:checked + label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-container input:checked + .checkbox-label .checkbox-icon {
  fill: #f4f4fd;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}
